.mentions-user-icon {
	display: inline;
	padding: 0;
	margin: 0 5px 2px 0;
	vertical-align: middle;
}

.mentions-user-link:hover {
	text-decoration: none;
}

.mentions-user-link {
	display: inline-block;
	padding: 3px 6px;
	border: 1px solid #eee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.mentions-user-link:hover {
	background-color: #f4f4f4;
}

#mentions-popup {
	padding: 0;
	max-height: 400px;
	overflow-y: auto;
}

#mentions-popup .elgg-autocomplete-item {
	padding: 6px;
}

#mentions-popup .mentions-autocomplete > li:hover {
	background-color: #f4f4f4;
}

#mentions-popup .elgg-ajax-loader {
    margin: 10px auto;
}