language: php

# Keep this up-to-date with the production environment
php: 5.6

sudo: false

before_install:
  - composer self-update
  - composer global require fxp/composer-asset-plugin -vvv

install: composer install -vvv

script: composer test
